@use "../../../scss/tokens/breakpoints" as *;

.bz-mtpl-check-page {
    @media (max-width: $bz-breakpoint-md) {
        gap: var(--bz-space-1200);

        > .bz-inline-stack:first-child {
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;

            .bz-text {
                max-width: 52%;
                min-width: 0;
                word-wrap: break-word;
                overflow-wrap: break-word;
                text-align: center;
            }
        }
    }

    @media (max-width: $bz-breakpoint-xs) {
        > .bz-inline-stack:first-child {
            .bz-text {
                max-width: 90%;
            }
        }

        .bz-button:not(.bz-insurance-bubble-icon-button),
        button:not(.bz-insurance-bubble-icon-button) {
            width: 100% !important;
        }
    }

    .bz-mtpl-check-form,
    .bz-mtpl-check-results {
        width: 100%;
    }

    .bz-mtpl-check-results-row {
        display: flex;
        gap: 8px;
        width: 100%;
    }

    .bz-mtpl-check-results-separator {
        flex: 1;
        height: 17px;
        background-image: repeating-linear-gradient(
            to right,
            #808a93 0,
            #808a93 2px,
            transparent 2px,
            transparent 6px
        );
        background-size: 8px 1px;
        background-repeat: repeat-x;
        background-position: center;
        min-width: 0;
        top: 8px;
        position: relative;
    }

    @media (max-width: $bz-breakpoint-md) {
        .bz-insurance-form-holder > .bz-block-stack:first-child {
            gap: var(--bz-space-1200);
        }
    }
}
