@use "../../../scss/tokens/breakpoints" as *;

.bz-entity-card {
    cursor: pointer;
    position: relative;
    border-radius: var(--bz-space-300);
    border: 1.5px solid var(--bz-color-surface-200);
    overflow: hidden;

    .bz-entity-card__header-info,
    .bz-entity-card__content,
    .bz-entity-card__content-left {
        flex: 1;
    }

    &__details {
        padding-top: var(--bz-space-100);
    }

    &:hover {
        border: 1.5px solid var(--bz-color-brand-500);
        box-shadow: 0px 0px 0px 3px rgba(0, 129, 234, 0.1);
    }

    @media (max-width: $bz-breakpoint-xl) {
        .bz-entity-card__content-left {
            flex-direction: column;
            gap: var(--bz-space-400);
            --bz-inline-stack-block-align: start !important;
        }

        .bz-entity-card__actions {
            align-items: start !important;
        }
    }
}

.bz-entity-card__status-badge {
    background-color: var(--bz-color-green-100);
    padding: var(--bz-space-100) var(--bz-space-200);
    border-radius: var(--bz-border-radius-050);
    font-size: 12px;
    font-weight: 500;
}
