@use "../../../scss/tokens/breakpoints" as *;

.bz-profile-buttons {
    &__desktop-buttons {
        @media (max-width: $bz-breakpoint-sm) {
            display: none;
        }
    }

    &__user-navigation {
        background-color: var(--bz-color-gray-100);
        border-radius: var(--bz-space-500);

        &-menu {
            margin-top: var(--bz-space-300);
            width: var(--bz-size-3400);
        }

        &:hover {
            cursor: pointer;
            background-color: var(--bz-color-gray-300);
        }
    }
}

.bz-menu__popover {
    z-index: 1000;
    background-color: var(--bz-color-white);
    box-shadow: var(--bz-shadow-500);

    .bz-menu__item {
        padding: var(--bz-space-300);

        &:hover {
            cursor: pointer;
            background-color: var(--bz-color-surface-100);
        }
    }
}
