// ==========================================================================
// Components - Divider
// ==========================================================================

.bz-divider {
    opacity: 0.1;
    --bz-divider-color: var(--bz-color-brand-900);

    border: 1px solid var(--bz-divider-color);

    &--orientation-vertical {
        writing-mode: vertical-lr;
        align-self: stretch;
    }
}
