@use "../../../scss/tokens/breakpoints" as *;

.bz-profile {
    .bz-profile-data-form,
    .bz-reset-password-request-form {
        .bz-profile-data-form-box-content,
        .bz-reset-password-request-form-box-content {
            justify-content: center;

            .bz-input-field-holder {
                min-width: 200px;
            }

            .bz-inline-stack {
                .bz-block-stack {
                    flex: 1;
                }
            }
        }

        // Make buttons wrap and full width on mobile
        @media (max-width: $bz-breakpoint-sm) {
            > .bz-inline-stack:last-child {
                flex-direction: column;
                gap: var(--bz-space-300);

                .bz-button {
                    width: 100% !important;
                }
            }
        }
    }

    .bz-reset-password-request-form {
        .bz-reset-password-request-form-box-content {
            @media (max-width: $bz-breakpoint-xs) {
                gap: 0 !important;
            }
        }
    }
}
