// ==========================================================================
// Global - Main Nav
// ==========================================================================

:root {
    --bz-main-nav__list-background-color: var(--bz-app-layout-main-color);

    --bz-main-nav__item-link-gap: var(--bz-space-150);
    --bz-main-nav__item-link-opacity: 0.6;
    --bz-main-nav__item-link-border-radius: var(--bz-space-050);
    --bz-main-nav__item-link-padding-inline: var(--bz-space-600);
    --bz-main-nav__item-link-padding-block: var(--bz-space-200);
    --bz-main-nav__item-link-background: transparent;
    --bz-main-nav__item-link-color: var(--bz-color-gray-100);
}

.bz-main-nav__list {
    list-style-type: none;
    background-color: var(--bz-app-layout-main-color);
    padding-inline-start: 0;

    .bz-main-nav__popper {
        --bz-main-nav__item-link-opacity: 0.6;
        --bz-main-nav__item-link-background: transparent;

        opacity: 0;
        pointer-events: none;
        position: absolute;
        z-index: 4;
        top: 100%;
        left: 0;
        inline-size: max-content;
        background-color: var(--bz-main-nav__list-background-color);
        transition: opacity 0.2s ease;

        a:hover .bz-box {
            background-color: var(--bz-color-gray-200);
        }
    }
}

.bz-main-nav__item:hover > .bz-main-nav__popper,
.bz-main-nav__item:focus-within > .bz-main-nav__popper {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.bz-main-nav__list--depth-0 {
    display: flex;
    flex-direction: row;
    justify-content: center; // Center items horizontally
    //gap: var(--bz-space-200);
}

.bz-main-nav__item {
    position: relative;
    display: flex;
    align-items: center;

    &:hover,
    &:focus,
    &:focus-within,
    &--current {
        --bz-main-nav__item-link-opacity: 1;
        --bz-main-nav__item-link-background: var(--bz-app-layout-accent-color);
    }
}

.bz-main-nav__item:hover,
.bz-main-nav__item:focus,
.bz-main-nav__item:focus-within,
.bz-main-nav__item > .bz-main-nav__popper:hover,
.bz-main-nav__item > .bz-main-nav__popper:focus-within {
    --bz-main-nav__item-link-opacity: 1;
}

.bz-main-nav__item-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--bz-main-nav__item-link-gap);
    opacity: var(--bz-main-nav__item-link-opacity);
    margin-inline: auto;
    border-radius: var(--bz-main-nav__item-link-border-radius);
    background-color: var(--bz-main-nav__item-link-background);
    color: var(--bz-main-nav__item-link-color);
    text-decoration: none;

    &:hover {
        background-color: var(--bz-color-gray-200);
    }
}

.bz-main-nav__item-link .bz-text {
    display: flex;
    flex-direction: row;
    gap: var(--bz-main-nav__item-link-gap);
}

.bz-main-nav__item-link .bz-text .bz-icon {
    display: inline-block;
    vertical-align: bottom;
}
