.bz-register-email-form,
.bz-register-form {
    padding: var(--bz-space-500);

    .bz-input-field-holder {
        flex: 1;
    }
}

.bz-register-email-actions {
    padding: 0 var(--bz-size-600) var(--bz-size-600);

    a {
        align-self: center;
        color: var(--bz-color-blue-100);

        &:hover {
            text-decoration: underline;
        }
    }
}
