// ==========================================================================
// Components - Checkbox
// ==========================================================================

@use "../../../scss/mixins" as mixins;

:root {
    --bz-checkbox-gap: var(--bz-space-300);
    --bz-checkbox-text-color: var(--bz-color-text-primary);
    --bz-checkbox-font-size: var(--bz-font-size-m);
    --bz-checkbox-font-weight: var(--bz-font-weight-regular);
    --bz-checkbox-line-height: var(--bz-space-600);
    --bz-checkbox-button-color: transparent;
    --bz-checkbox-button-size: var(--bz-size-600);
    --bz-checkbox-button-radius: var(--bz-border-radius-200);
    --bz-checkbox-button-background-color: var(--bz-color-surface-100);
    --bz-checkbox-button-border-color: var(--bz-color-border-subtle);
}

.bz-checkbox {
    position: relative;
    isolation: isolate;
    display: inline-flex;
    align-items: center;
    gap: var(--bz-checkbox-gap);
    cursor: pointer;

    &:hover:not(&--disabled):not(&--invalid) {
        --bz-checkbox-button-border-color: var(--bz-color-brand-500);
    }

    &--checked {
        --bz-checkbox-button-color: var(--bz-color-white);
        --bz-checkbox-button-border-color: var(--bz-color-brand-500);
        --bz-checkbox-button-background-color: var(--bz-color-brand-500);
    }

    &--invalid {
        --bz-checkbox-text-color: var(--bz-color-system-error);
        --bz-checkbox-button-border-color: var(--bz-color-system-error);
    }

    &--disabled {
        --bz-checkbox-text-color: var(--bz-color-text-secondary);
        --bz-checkbox-button-background-color: var(--bz-color-surface-200);
        --bz-checkbox-button-border-color: var(--bz-color-border-subtle);
        pointer-events: none;
        opacity: 1;

        .bz-checkbox__label {
            opacity: 1;
        }
    }
}

.bz-checkbox__label {
    font-size: var(--bz-checkbox-font-size);
    font-weight: var(--bz-checkbox-font-weight);
    line-height: var(--bz-checkbox-line-height);
    color: var(--bz-checkbox-text-color);
}

.bz-checkbox__button {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--bz-checkbox-button-size);
    height: var(--bz-checkbox-button-size);
    border: 1px solid var(--bz-checkbox-button-border-color);
    border-radius: var(--bz-checkbox-button-radius);
    background-color: var(--bz-checkbox-button-background-color);
    color: var(--bz-checkbox-button-color);

    .bz-icon {
        display: none;
        --bz-icon-color: var(--bz-color-white);
    }
}

.bz-checkbox--checked .bz-checkbox__button {
    .bz-icon {
        display: block;
    }
}

.bz-checkbox__input {
    @include mixins.visually-hidden;
}
