// ==========================================================================
// Tokens - Border
// ==========================================================================

:root {
    --bz-border-radius-0: 0;
    --bz-border-radius-050: 0.125rem;
    --bz-border-radius-100: 0.25rem;
    --bz-border-radius-150: 0.375rem;
    --bz-border-radius-200: 0.5rem;
    --bz-border-radius-250: 0.625rem;
    --bz-border-radius-300: 0.75rem;
    --bz-border-radius-350: 0.8725rem;
    --bz-border-radius-400: 1rem;
    --bz-border-radius-500: 1.25rem;
    --bz-border-radius-600: 1.5rem;
    --bz-border-radius-full: 9999px;

    --bz-border-size-025: 0.0625rem;
    --bz-border-size-050: 0.125rem;
    --bz-border-size-075: 0.1875rem;
}
