// ==========================================================================
// Tokens - Shadow
// ==========================================================================

:root {
    --bz-shadow-0: none;
    --bz-shadow-100: 0px 8px 25px 0px #0063b314;
    --bz-shadow-200: 0px 8px 24px 0px #0000000a;
    --bz-shadow-400: 1px 2px 12px 0px rgba(var(--bz-color-black-rgb), 0.12);
    --bz-shadow-500: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    --bz-shadow-600: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
