// ==========================================================================
// Tokens - Size
// ==========================================================================

:root {
    --bz-size-0: 0;
    --bz-size-025: 0.0625rem;
    --bz-size-050: 0.125rem;
    --bz-size-100: 0.25rem;
    --bz-size-150: 0.375rem;
    --bz-size-200: 0.5rem;
    --bz-size-250: 0.625rem;
    --bz-size-300: 0.75rem;
    --bz-size-350: 0.875rem;
    --bz-size-400: 1rem;
    --bz-size-450: 1.125rem;
    --bz-size-500: 1.25rem;
    --bz-size-600: 1.5rem;
    --bz-size-650: 1.625rem;
    --bz-size-700: 1.75rem;
    --bz-size-800: 2rem;
    --bz-size-850: 2.125rem;
    --bz-size-900: 2.25rem;
    --bz-size-950: 2.375rem;
    --bz-size-1000: 2.5rem;
    --bz-size-1200: 3rem;
    --bz-size-1400: 3.5rem;
    --bz-size-1600: 4rem;
    --bz-size-1800: 4.5rem;
    --bz-size-2000: 5rem;
    --bz-size-2400: 6rem;
    --bz-size-2800: 7rem;
    --bz-size-3200: 8rem;
    --bz-size-3600: 9rem;
    --bz-size-4000: 10rem;
    --bz-size-4400: 11rem;
    --bz-size-4800: 12rem;
    --bz-size-5200: 13rem;
    --bz-size-5600: 14rem;
    --bz-size-6000: 15rem;
    --bz-size-6400: 16rem;
    --bz-size-6800: 17rem;
    --bz-size-7600: 19rem;
    --bz-size-8800: 22rem;
    --bz-size-9200: 23rem;
    --bz-size-10400: 26rem;
    --bz-size-12000: 30rem;
    --bz-size-12800: 32rem;
    --bz-size-14000: 35rem;
    --bz-size-14400: 36rem;
    --bz-size-16000: 40rem;
    --bz-size-19200: 48rem;
    --bz-size-20800: 52rem;
    --bz-size-24000: 60rem;
    --bz-size-26400: 66rem;
    --bz-size-28800: 72rem;
    --bz-size-38400: 96rem;
    --bz-size-48000: 120rem;
}