.auth-login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__form {
        width: 100%;
    }

    &__register-link {
        text-decoration: underline;
        cursor: pointer;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }
}
