// ==========================================================================
// Common - Links
// ==========================================================================

:where(a:not([class])) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/*
:where(.bz-app-layout__main, .bz-drawer) {
    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
} */