// ==========================================================================
// Common - Lists
// ==========================================================================

.bz-app-layout__main {
    --bz-list-gap: var(--bz-size-300);
    --bz-list-custom-bullet-size: var(--bz-size-600);

    ol,
    ul {
        display: flex;
        flex-direction: column;
        gap: var(--bz-list-gap);
        padding-inline-start: 1.5em;
    }

    ul>li {
        list-style-type: none;

        &::before {
            content: '';
            display: inline-block;
            width: var(--bz-list-custom-bullet-size);
            height: var(--bz-list-custom-bullet-size);
            filter: invert(1);
            background-size: 15px;
            vertical-align: middle;
        }
    }

    li>p {
        display: inline;
    }
}