// ==========================================================================
// Common - Table
// ==========================================================================

:where(table) {
    width: 100%;
    border-collapse: collapse;
    text-indent: 0;
}
