// ==========================================================================
// Tokens - Size
// ==========================================================================

:root {
    --vf-size-0: 0;
    --vf-size-025: 0.0625rem; // 1px
    --vf-size-050: 0.125rem; // 2px
    --vf-size-100: 0.25rem; // 4px
    --vf-size-150: 0.375rem; // 6px
    --vf-size-200: 0.5rem; // 8px
    --vf-size-250: 0.625rem; // 10px
    --vf-size-300: 0.75rem; // 12px
    --vf-size-350: 0.875rem; // 14px
    --vf-size-400: 1rem; // 16px
    --vf-size-450: 1.125rem; // 18px
    --vf-size-500: 1.25rem; // 20px
    --vf-size-600: 1.5rem; // 24px
    --vf-size-700: 1.75rem; // 28px
    --vf-size-800: 2rem; // 32px
    --vf-size-900: 2.25rem; // 36px
    --vf-size-1000: 2.5rem; // 40px
    --vf-size-1200: 3rem; // 48px
    --vf-size-1400: 3.5rem; // 56px
    --vf-size-1600: 4rem; // 64px
    --vf-size-1800: 4.5rem; // 72px
    --vf-size-2000: 5rem; // 80px
    --vf-size-2400: 6rem; // 96px
    --vf-size-2800: 7rem; // 112px
    --vf-size-3200: 8rem; // 128px
    --vf-size-3600: 9rem; // 144px
    --vf-size-4000: 10rem; // 160px
    --vf-size-4800: 12rem; // 192px
    --vf-size-5600: 14rem; // 224px
    --vf-size-6400: 16rem; // 256px
}
