APP_NAME=Bizo.bg
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://local.bizo.bg

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

MEDIA_DISK=private

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_DATABASE=bizo
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

FLARE_KEY=

AXIOM_API_AUTH_TOKEN=
AXIOM_API_AUTH_USERNAME=
AXIOM_API_AUTH_PASSWORD=
AXIOM_API_AUTH_PATH=
AXIOM_API_AUTH_TIME_TO_LIVE=60
AXIOM_API_BASE_URL=

PAYMENT_API_BASE_URL=
PAYMENT_API_AUTH_LOGIN=
PAYMENT_API_AUTH_PASSWORD=

BROQEE_API_AUTH_EMAIL=
BROQEE_API_AUTH_PASSWORD=
BROQEE_API_AUTH_WEBSITE=
BROQEE_API_AUTH_PATH=
BROQEE_API_AUTH_PROXY_KEY=
BROQEE_API_AUTH_SHOULD_APPEND_PROXY_KEY=
BROQEE_API_X_CLIENT_HEADER=
BROQEE_API_BASE_URL=
BROQEE_API_WEBHOOK_ALLOWED_IPS=127.0.0.1,::1
