// ==========================================================================
// Components - Card
// ==========================================================================

:root {
    --bz-card-padding: var(--bz-space-600);
    --bz-card-background-color: var(--bz-color-white);
    --bz-card-border-radius: var(--bz-border-radius-150);
    --bz-card-border-color: var(--bz-color-gray-100);
    --bz-card-badge-offset-block: var(--bz-space-300);
    --bz-card-badge-offset-inline: var(--bz-space-0);
    --bz-card-icon-button-background-color: transparent;
}

.bz-card {
    padding: var(--bz-card-padding);
    border-radius: var(--bz-card-border-radius);
    background-color: var(--bz-card-background-color);
    border: 2px solid var(--bz-card-border-color);

    display: flex;

    > .bz-block-stack {
        width: 100%;
    }

    &--disabled {
        filter: grayscale(100%);
    }
}

a {
    text-decoration: none;

    .bz-card {
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
    }
}

.bz-card__media {
    position: relative;
    isolation: isolate;

    .bz-badge {
        position: absolute;

        &--fixed-start,
        &--fixed-end,
        &--fixed-start-start,
        &--fixed-start-end,
        &--fixed-both {
            top: var(--bz-card-badge-offset-block);
        }

        &--fixed-end-start,
        &--fixed-end-end {
            bottom: var(--bz-card-badge-offset-block);
        }

        &--fixed-start,
        &--fixed-start-start,
        &--fixed-end-start,
        &--fixed-both {
            left: var(--bz-card-badge-offset-inline);
        }

        &--fixed-end,
        &--fixed-start-end,
        &--fixed-end-end {
            right: var(--bz-card-badge-offset-inline);
        }

        &--fixed-both {
            width: 100%;
            justify-content: center;
        }
    }
}

.bz-card__content {
    flex-grow: 1;
}
