// ==========================================================================
// Tokens
// ==========================================================================

@use "../scss/tokens/colors";
@use "../scss/tokens/typography";
@use "../scss/tokens/space";
@use "../scss/tokens/size";
@use "../scss/tokens/border";
@use "../scss/tokens/shadow";
@use "../scss/tokens/breakpoints";

// ==========================================================================
// Components
// ==========================================================================

@use "@/components/inline-stack/inline-stack";
@use "@/components/block-stack/block-stack";
@use "@/components/box/box";
@use "@/components/button/button";
@use "@/components/icon/icon";
@use "@/components/spinner/spinner";
@use "@/components/text/text";
@use "@/components/text-input/text-input";
@use "@/components/form-label/form-label";

// ==========================================================================
// Pages
// ==========================================================================

@use "@/pages/home/home";
@use "@/pages/dataset-import/dataset-import";
@use "@/pages/datasets/datasets";
@use "@/pages/datasets/dataset-details/dataset-details";
@use "@/pages/auth/login/login";
@use "@/pages/auth/register/register";

// ==========================================================================
// Layouts
// ==========================================================================

@use "@/layouts/layout/layout";

// ==========================================================================
// Global Reset
// ==========================================================================

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}