.radio-group {
    display: flex;
    gap: 1rem;
}

.radio-group--vertical {
    flex-direction: column;
}

.radio-group--horizontal {
    flex-direction: row;
}

.radio-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 0.5rem;
    transition: all 0.2s ease;
}

.radio-option:hover {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.radio-option--disabled {
    opacity: 1;
    cursor: not-allowed;
    color: #808a93;
}

.radio-option--disabled .radio-option__radio {
    border-color: #e6e8e9;
    background-color: #e6e8e9;
}

.radio-option--disabled .radio-option__label {
    color: #808a93;
    opacity: 1;
}

.radio-option__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-option__radio {
    position: relative;
    height: 24px;
    width: 24px;
    min-width: 24px;
    border: 1px solid #e6e8e9;
    border-radius: 50%;
    margin-right: 12px;
    background-color: #f8f8f8;
    transition: all 0.2s ease;
}

.radio-option__radio::after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0081ea;
}

.radio-option__input:checked ~ .radio-option__radio {
    border-color: #0081ea;
}

.radio-option__input:checked ~ .radio-option__radio::after {
    display: block;
}

.radio-option__input:focus-visible ~ .radio-option__radio {
    box-shadow: 0 0 0 4px rgba(25, 118, 210, 0.2);
}

.radio-option__label {
    font-size: 14px;
    color: #001527;
    line-height: 24px;
    font-weight: 400;
}
