.bz-activate-account-message {
    width: var(--bz-size-14400);
    margin: 0 auto;

    .bz-inline-stack {
        align-items: center;

        .bz-icon {
            color: var(--bz-color-green-100);
        }
    }

    @media (max-width: 500px) {
        padding: var(--bz-space-600);
        width: 100%;
    }
}
