// ==========================================================================
// Components - Surface
// ==========================================================================

:root {
    --bz-icon-surface-background-color: var(--bz-color-brand-100);
    --bz-icon-surface-border-radius: var(--bz-border-radius-full);
    --bz-icon-surface-padding: var(--bz-space-700);
}

.bz-icon-surface {
    background-color: var(--bz-icon-surface-background-color);
    border-radius: var(--bz-icon-surface-border-radius);
    padding: var(--bz-icon-surface-padding);
}
