// ==========================================================================
// Components - Button
// ==========================================================================

@use "../../../scss/mixins" as mixins;

:root {
    --bz-icon-button-size: var(--bz-size-600);
    --bz-icon-button-color: var(--bz-color-purple-500);
    --bz-icon-button-background-color: transparent;
    --bz-icon-button-border-color: currentColor;
    --bz-icon-button-border-radius: var(--bz-border-radius-050);
}

.bz-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--bz-icon-button-size);
    height: var(--bz-icon-button-size);
    background-color: var(--bz-icon-button-background-color);
    border: none;
    cursor: pointer;
    color: var(--bz-icon-button-color);

    &:hover,
    &:focus,
    &--pressed {
        --bz-icon-button-color: var(--bz-color-green-500);
        @include mixins.background-multiply(
            var(--bz-icon-button-background-color)
        );
    }

    &--loading {
        pointer-events: none;
    }

    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &--variant-outline {
        --bz-icon-button-background-color: var(--bz-color-white);

        border-radius: var(--bz-icon-button-border-radius);
        box-shadow: 0px 0px 0px 1px var(--bz-icon-button-border-color);

        &:hover {
            --bz-icon-button-background-color: var(--bz-color-purple-400);
            --bz-icon-button-color: var(--bz-color-white);
            background-blend-mode: unset;
        }

        &:active {
            --bz-icon-button-background-color: var(--bz-color-purple-100);
            --bz-icon-button-color: var(--bz-color-purple-500);
        }
    }

    &--variant-secondary {
        --bz-icon-button-size: var(--bz-size-1000);
        --bz-icon-button-background-color: rgba(
            var(--bz-color-blue-500-rgb),
            0.08
        );
        --bz-icon-button-color: var(--bz-color-blue-500);

        border-radius: var(--bz-border-radius-200);

        &:hover,
        &:focus {
            --bz-icon-button-background-color: rgba(
                var(--bz-color-blue-500-rgb),
                0.12
            );
            --bz-icon-button-color: var(--bz-color-blue-500);
        }

        &:active {
            --bz-icon-button-background-color: rgba(
                var(--bz-color-blue-500-rgb),
                0.12
            );
        }
    }

    &--variant-circle {
        --bz-icon-button-size: var(--bz-size-1000);
        --bz-icon-button-color: var(--bz-color-gray-200);
        --bz-icon-button-background-color: var(--bz-color-green-500);

        border-radius: var(--bz-border-radius-full);

        &:hover,
        &:focus {
            --bz-icon-button-color: var(--bz-color-gray-200);
        }
    }
}

.bz-icon-button__icon {
    .bz-icon-button--loading & {
        display: none;
    }
}

.bz-icon-button__spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
