.bz-grid-layout {
    --bz-items-gap: var(--bz-space-400);
    //--bz-items-repeat-min: var(--bz-space-8000);
    --bz-grid-min-col-size: var(
        --bz-size-8800
    ); // ensure two-column width is preserved

    display: grid;
    grid-template-columns: repeat(2, minmax(var(--bz-grid-min-col-size), 1fr));
    gap: var(--bz-items-gap);
    flex-flow: row wrap;
}

// Center the only item horizontally while keeping the two-column grid width
.bz-grid-layout > *:only-child {
    grid-column: 1 / -1;
    justify-self: center;
}

/*
@media (min-width: 1920px) {
    .bz-grid-layout {
        grid-template-columns: repeat(6, 1fr);
    }
}
*/
