@use "../../../scss/tokens/breakpoints" as *;

.bz-profile-menu {
    &__user-navigation {
        background-color: var(--bz-color-gray-100);
        border-radius: var(--bz-space-500);
        cursor: pointer;

        &-menu {
            margin-top: var(--bz-space-300);
            max-width: var(--bz-size-3400);
        }
    }

    &__user-navigation-menu {
        //display: none;
        margin-top: var(--bz-space-300);
        max-width: var(--bz-size-7600);
        background: var(--bz-color-surface-0);
        border: 1px solid var(--bz-color-border-subtle);
        border-radius: var(--bz-border-radius-300);
        box-shadow: var(--bz-shadow-500);

        @media (max-width: $bz-breakpoint-md) {
            display: block;
        }

        &-item {
            padding: 0 var(--bz-space-200);
            flex: 1;

            &-arrow-down-icon {
                transform: rotate(90deg);
            }

            &-arrow-up-icon {
                transform: rotate(-90deg);
            }
        }

        &-divider {
            margin: 0 var(--bz-space-300);
        }

        .item-title-holder {
            margin: auto var(--bz-space-200);
        }
    }

    &__navigation-icon {
        display: none;

        @media (max-width: $bz-breakpoint-md) {
            display: block;
        }
    }

    &__navigation-icon,
    &__icon {
        background-color: var(--bz-color-gray-100);
        border: none;
        border-radius: var(--bz-space-300);
        padding: var(--bz-space-300);
    }
}

.bz-menu__popover {
    z-index: 1000;
    background-color: var(--bz-color-white);
    box-shadow: var(--bz-shadow-500);

    .bz-menu__item {
        padding: var(--bz-space-300);

        &:hover {
            cursor: pointer;
            background-color: var(--bz-color-surface-100);
        }
    }
}
