// ==========================================================================
// Menu
// ==========================================================================

:where(.bz-menu, .bz-menu__popover) {
    --bz-menu-border-radius: var(--bz-border-radius-100);

    --bz-menu-button-padding: var(--bz-space-200) var(--bz-space-150);
    --bz-menu-button-border-color: var(--bz-color-gray-300);
    --bz-menu-button-background-color: transparent;
    --bz-menu-button-font-weight: var(--bz-font-weight-regular);
    --bz-menu-button-color: var(--bz-color-purple-500);
    --bz-menu-button-text-align: left;
    --bz-menu-button-height: var(--bz-size-950);

    --bz-menu-popover-padding: var(--bz-space-300);
    --bz-menu-popover-shadow: var(--bz-shadow-500);
    --bz-menu-popover-background-color: var(--bz-color-white);

    --bz-menu-list-gap: var(--bz-space-200);
    --bz-menu-list-item-color: var(--bz-color-purple-400);
    --bz-menu-list-item-line-height: 1.5;
}

.bz-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bz-menu__button {
    padding: var(--bz-menu-button-padding);
    border: 1px solid var(--bz-menu-button-border-color);
    border-radius: var(--bz-menu-border-radius);
    width: 100%;
    cursor: pointer;
    background-color: var(--bz-menu-button-background-color);
    text-align: var(--bz-menu-button-text-align);
    color: var(--bz-menu-button-color);
    font-weight: var(--bz-menu-button-font-weight);
    height: var(--bz-menu-button-height);

    &:hover,
    &:focus-visible,
    &[aria-expanded="true"] {
        --bz-menu-button-border-color: var(--bz-color-purple-500);
    }
}

.bz-menu__button-text {
    flex: 1;
}

.bz-menu__button-caret {
    [aria-expanded="true"] & {
        transform: rotate(180deg);
    }
}

.bz-menu__popover {
    padding: var(--bz-menu-popover-padding);
    box-shadow: var(--bz-menu-popover-shadow);
    border-radius: var(--bz-menu-border-radius);
    background-color: var(--bz-menu-popover-background-color);
    display: flex;
    flex-direction: column;
}

.bz-menu__list {
    display: flex;
    flex-direction: column;
    gap: var(--bz-menu-list-gap);
    max-height: 100%;

    &--scrollable {
        @include custom-scrollbar();

        overflow-y: auto;
        padding-inline-end: var(--bz-scrollable-scrollbar-offset-gap);
    }
}

.bz-menu__item {
    color: var(--bz-menu-list-item-color);
    line-height: var(--bz-menu-list-item-line-height);
    cursor: pointer;

    &--active {
        --bz-menu-list-item-color: var(--bz-color-green-500);
    }
}
