@use "../../../scss/tokens/breakpoints" as *;

.bz-authenticated-layout {
    height: 100%;
    min-width: 0;

    @media (max-width: $bz-breakpoint-sm) {
        gap: var(--bz-space-300);
    }

    &__right-section {
        flex: 3 1 0;
        min-width: 0;

        @media (max-width: $bz-breakpoint-sm) {
            height: auto;
            gap: var(--bz-space-200);
        }
    }
}
