// ==========================================================================
// Components - Surface
// ==========================================================================

:root {
    --bz-surface-background-color: var(--bz-color-white);
    // --bz-surface-border-color: var(--bz-color-gray-300);
    --bz-surface-border-radius: var(--bz-border-radius-400);
}

.bz-surface {
    background-color: var(--bz-surface-background-color);
    // border: solid 1px var(--bz-surface-border-color);
    border-radius: var(--bz-surface-border-radius);
    box-shadow: var(--bz-shadow-500);
}
